@import '../../../styles//global.module.scss';

main {
    
    width: 90%;
    height: auto;
    margin: 20px auto;

    article {
        text-align: center;
        font-weight: 700;
        
        

        .foto1{
            width: 250px;
        }
        .text {
           line-height: 1.5;
           font-weight: 500;
        }
    }
}