@import '../../../styles//global.module.scss';

main {
    width: 90%;
    height: auto;
    margin: 20px auto;
    margin-bottom: 80px;

    h3 {
        font-size: 28px;
        text-align: center;
    }
    aside {
        text-align: center;
        line-height: 1.9;
        
        .link {
            padding: 8px 20px;
            color: $navy-blue;
            font-size: 20px;
            font-weight: bolder;
            transition-property: background-color;
            transition-duration: 0.6s;
            border-radius: 30px;
          
           &:hover {
            transition-property: background-color;
            transition-duration: 0.6s;
            background: $light-green;
            border-radius: 30px;
            }
        }
    }
}