@import '../../../styles//global.module.scss';

main {
    width: 90%;
    height: auto;
    margin: 20px auto;

    .video {
        width: 70%;
         display: block;
         margin: 0 auto;
    }

    article {
        font-weight: 500;

        h3 {
            color: $dark-red;
            font-size: 26px;
            font-weight: 700;
        }

        h4 {
            color: $dark-red;
        }

        blockquote {
            font-size: 16px;
            line-height: 20px;
            text-align: end;
            font-weight: bolder;  
        }

        ul {
            list-style: none;
            text-align: left;
        }
       
        .centerList {
            text-align: center;
        }
    }
}